.row {
  display: flex;
}
.main-background {
  position: relative;
  background: #fff;

  flex-direction: column;
  height: calc(100vh - 190px);
  overflow-x: auto;
}

.main-side {
  width: 280px;
  left: 0;
  height: calc(100vh - 45px);
  background-color: #f3f2f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.3s;
}
.main-side.active {
  width: 0;
  left: 0;
  transition: 0.36s;
}
.main-side__header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-side__header--icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 48px;
  margin-top: 8px;
  justify-content: space-between;
}
.main-side__header--icon-title {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  padding: 4px;
  width: 32px;
  height: 32px;
  transition: background-color 0.1s;
}

.menu-side {
  list-style: none;
  width: 100%;
  height: calc(100vh - 145px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 9px;
}
.menu-side__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  padding: 0 12px;
  background: inherit;
  padding: 0 15px;
}
.isActive {
  background: #dbd5d5;
  color: red;
}
.menu-side__icon {
  border: none;
  outline: none;
  background: inherit;
}
.menu-side__link {
  color: #34373d;
  font-size: 14px;

  font-weight: 400;
  margin: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.main-side__footer {
  border-top: 1px solid #eaeaea;
}
.main-side__footer__icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.main-side__footer__icon--a {
  text-decoration: underline;
  flex: 1 1 0px;
  display: inline-block;

  width: 100%;
  height: 48px;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  color: #34373d;
}
.complated {
  background-color: transparent;
  margin-bottom: 0;
  box-shadow: none;
  overflow: hidden;
}
.complated__card {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 52px;
}
.complated__card-icon {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: 1s;
}
.complated__card-text {
  display: flex;
  align-items: baseline;
  padding: 8px 12px;
}
.count {
  font-weight: normal;
  font-size: 1rem;
  margin-left: 0.85em;
  color: #767678;
}
.sidebar-addlist {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  min-height: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  padding: 0 12px;
  background: inherit;
  padding: 0 15px;
}
.sidebar-addlist__icon {
  border: none;
  outline: none;
  background: inherit;
}
.sidebar-addlist__input {
  color: #34373d;
  font-size: 14px;
  font-weight: 400;
  margin: 0 8px;
  border: none;
  outline: none;
  background: inherit;
  display: block;
  width: 100%;
}
.sidebar-addlist__icon--btn {
  border: none;
  outline: none;
  background: inherit;
}

.margin-bottom {
  margin-bottom: 1rem;
}
